html, body {
   background-color:white;
}

p {
  text-align: center;
  font-color: white;
  font-size: 15px;

  }

h2 {
   text-align: center;
   font-size: 30px;
   }

#moon {

   }

.dark-mode {
   background-color: black;
   color:white;
}